{% extends "base.html" %}
{% block body %}
<h1>Connect Bring Fast</h1>
<p class="lead">Grok vuole usare il tuo account Bring Fast. Accedi con le stesse credenziali della dashboard.</p>
<div class="card">
  <form method="post" action="/oauth/authorize">
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}"/>
    <input type="hidden" name="state" value="{{ state }}"/>
    <input type="hidden" name="client_id" value="{{ client_id }}"/>
    <input type="hidden" name="code_challenge" value="{{ code_challenge }}"/>
    <input type="hidden" name="code_challenge_method" value="{{ code_challenge_method }}"/>
    <label>Email Bring Fast</label>
    <input name="email" type="email" required value="{{ email or '' }}" autocomplete="username"/>
    <label>Password Bring Fast</label>
    <input name="password" type="password" required autocomplete="current-password"/>
    <p><button type="submit">Authorize Grok</button></p>
  </form>
</div>
{% endblock %}
