{% extends "base.html" %}
{% block body %}
<div class="auth-shell">
  <h1>Reset <em>password</em></h1>
  <p class="lead">Choose a new Bring Fast password.</p>
  <div class="card">
    <form method="post" action="/reset">
      <input type="hidden" name="token" value="{{ token }}"/>
      <label>New password</label>
      <input name="password" type="password" required minlength="6" autocomplete="new-password" placeholder="At least 6 characters"/>
      <p><button type="submit">Update password</button></p>
    </form>
    <p class="switch"><a href="/login?mode=signin">Back to sign in</a></p>
  </div>
</div>
{% endblock %}
